.email-header {
    padding-left: 3px;
}

.email-header input {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 1px;
    line-height: 20px;
    padding: 3px;
    width: 100%;
}

.email-header:focus-within {
    color: #1976d2;
}

.email-header input:focus {
    color: black;
    outline-style: none;
    border-bottom-width: 2px;
    margin-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-color: #1976d2;
}

.v-textarea textarea {
    padding: 5px !important;
    padding-right: 10px;
}

.v-textarea textarea:focus {
    border-style: none !important;
    outline-style: none !important;
    box-shadow: none !important;
}

.emailContent .v-text-field__slot {
    margin-right: 0px !important;
}

.emailContent .v-input__slot {
    box-shadow: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.detailField input,
.detailField input:focus {
    margin-top: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 transparent;
}

.actionHeader {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

.toRight {
    text-align: right;
}

.v-input {
    font-size: 14px;
}

.labelText {
    font-size: 13px;
    padding-bottom: 10px;
}

.emailEditor {
    color: black;
    font-size: 15px;
}

.emailEditor p {
    color: black;
    font-size: 15px;
}

.small-action-button {
    max-width: 20px;
    max-height: 20px;
}
